*{
    scroll-behavior: smooth;
}



#container-grid{
    display: grid;
    grid-template-areas: 
    "contact contact contact"
    "heading logo logo"
    "nav nav nav";
    border: 0px solid black;
    width: 1200px;
    height: 500px;
    margin-left: 130px;
    background-color: #CB67FA;
    background-size: cover;
    position: relative;
    top: 60px;
    right: 65px;
    

}

#container-grid .logo{
    margin-left: 0px;
    width: 100px ;
    grid-area: logo;

}

.logo img{
    position: relative;
    right: 80px;
    bottom: 30px;
}

#container-grid .heading{
    color: aliceblue;
    font-family: Inter;
    font-size: 10px;
    grid-area: heading;
}

.heading{
    position: relative;
    left: 150px;
    top: 70px;  
}

#container-grid .nav{
    text-align: center;
    background-color: #000000;
    padding-top: 15px;
    font-size: 20px;
    word-spacing: 70px;
    font-family: Inter;
    height: 40px;
    grid-area: nav;
    position: relative;
    bottom: 50px;
}

.nav a{
    color: rgb(253, 254, 255);
    text-decoration: none;
    padding-left: 50px;
    position: relative;
    top: 2px;
}

h3{
    color: #000000;
    font-family: Odor Mean Chey;
    font-size: 30px ;
    position: relative;
    bottom: 25px;
}

h2{
    font-family: Candal;
    color: #000000;
    font-size: 30px;
    position: relative;
    top: 30px;
}

h1{
    font-size: 50px;
    border: 0px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #AE0AD7;
}

#container-grid .contact{
    grid-area: contact;
}

.contact{
    position: relative;
    left: 1090px;
    width: 250px;
    top: 15px;
    word-spacing: 6px;

}

.nav .home{
    color: #faeb67;
}

.nav .about:hover{
    color: #faeb67;
}

.nav .skills:hover{
    color: #faeb67;
}

.nav .tugas:hover{
    color: #faeb67;
}




#container-grid2{
    display: grid;
    grid-template-areas: 
    "contact contact contact"
    "heading logo logo"
    "nav nav nav";
    border: 0px solid black;
    width: 1200px;
    height: 500px;
    margin-left: 130px;
    background-color: #CB67FA;
    background-size: cover;
    position: relative;
    top: 300px;
    right: 65px;
}

#container-grid2 .logo2{
    margin-left: 0px;
    width: 100px ;
    grid-area: logo;

}

.logo2 img{
    position: relative;
    right: 80px;
    bottom: 30px;
}

#container-grid2 .heading2{
    color: aliceblue;
    font-family: Inter;
    font-size: 10px;
    grid-area: heading;
}

.heading2{
    position: relative;
    left: 150px;
    top: 70px;  
}

#container-grid2 .nav2{
    text-align: center;
    background-color: #000000;
    padding-top: 15px;
    font-size: 20px;
    word-spacing: 70px;
    font-family: Inter;
    height: 40px;
    grid-area: nav;
    position: relative;
    bottom: 50px;
}

.nav2 a{
    color: rgb(253, 254, 255);
    text-decoration: none;
    padding-left: 50px;
    position: relative;
    top: 2px;
}

h3{
    color: #000000;
    font-family: Odor Mean Chey;
    font-size: 30px ;
    position: relative;
    bottom: 25px;
}

h2{
    font-family: Candal;
    color: #000000;
    font-size: 30px;
    position: relative;
    top: 30px;
}

h1{
    font-size: 50px;
    border: 0px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #AE0AD7;
}

#container-grid2 .contact2{
    grid-area: contact;
}

.contact2{
    position: relative;
    left: 1090px;
    width: 250px;
    top: 15px;
    word-spacing: 6px;
}

.nav2 .home2:hover{
    color: #faeb67;
}

.nav2 .about2{
    color: #faeb67;
}

.nav2 .skills2:hover{
    color: #faeb67;
}

.nav2 .tugas2:hover{
    color: #faeb67;
}





#container-grid3{
    display: grid;
    grid-template-areas: 
    "contact contact contact"
    "heading logo logo"
    "nav nav nav";
    border: 0px solid black;
    width: 1200px;
    height: 500px;
    margin-left: 130px;
    background-color: #CB67FA;
    background-size: cover;
    position: relative;
    top: 500px;
    right: 65px;
}

#container-grid3 .logo3{
    margin-left: 0px;
    width: 100px ;
    grid-area: logo;

}

.logo3 img{
    position: relative;
    right: 80px;
    bottom: 30px;
}

#container-grid3 .heading3{
    color: aliceblue;
    font-family: Inter;
    font-size: 10px;
    grid-area: heading;
}

.heading3{
    position: relative;
    left: 150px;
    top: 70px;  
}

#container-grid3 .nav3{
    text-align: center;
    background-color: #000000;
    padding-top: 15px;
    font-size: 20px;
    word-spacing: 70px;
    font-family: Inter;
    height: 40px;
    grid-area: nav;
    position: relative;
    bottom: 50px;
}

.nav3 a{
    color: rgb(253, 254, 255);
    text-decoration: none;
    padding-left: 50px;
    position: relative;
    top: 2px;
}

h3{
    color: #000000;
    font-family: Odor Mean Chey;
    font-size: 30px ;
    position: relative;
    bottom: 25px;
}

h2{
    font-family: Candal;
    color: #000000;
    font-size: 30px;
    position: relative;
    top: 30px;
}

h1{
    font-size: 50px;
    border: 0px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #AE0AD7;
}

#container-grid3 .contact3{
    grid-area: contact;
}

.contact3{
    position: relative;
    left: 1090px;
    width: 250px;
    top: 15px;
    word-spacing: 6px;
}

.nav3 .home3:hover{
    color: #faeb67;
}

.nav3 .about3:hover{
    color: #faeb67;
}

.nav3 .skills3{
    color: #faeb67;
}

.nav3 .tugas3:hover{
    color: #faeb67;
}